/* Aquí importa Bootstrap primero */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Luego, aplica tus estilos personalizados */
body {
  background-color: black;
  color: white;
}

.navbar {
  background-color: #333;
}

.navbar-nav .nav-link {
  color: white !important;
}

.section {
  color: white;
  background-color: black;
}

/* Estilo específico para el Header */
.App-header {
  background-color: transparent; /* Fondo transparente */
  color: white;
}

/* Estilo específico para el Carousel */
.carousel-item {
  color: white;
}

.custom-dark {
  background-color: #121212; /* Color personalizado */
}

@media (max-width: 991.98px) {
  #navbarNav {
    justify-content: flex-end;
  }
}

/* Estilos para las tarjetas horizontales */
.horizontal-card .video-container,
.vertical-card .video-container {
  position: relative;
  width: 100%;
}

.horizontal-card .video-container iframe,
.vertical-card .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.brand-center {
  flex: 1;
  text-align: center;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  margin-right: auto; /* Alinea el Navbar Brand a la izquierda */
}

.nav-button {
  border: 2px solid red; /* Borde para visualizar el espacio ocupado */
  height: 100px; /* Ajusta la altura según sea necesario */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-button h3 {
  margin: 0;
  padding: 0;
}

.row.m-0 {
  margin-right: 0;
  margin-left: 0;
  width: 100%; /* Asegúrate de que la fila ocupe todo el ancho del contenedor */
}

/* Cambios para dispositivos móviles */
@media (max-width: 767px) {
  .nav-button {
    height: 200px; /* Ajusta la altura para dispositivos móviles */
  }
}

/* Cambios para dispositivos con una anchura máxima de 768px (como dispositivos móviles) */
@media (max-width: 768px) {
  .navbar-fotos {
    display: none; /* Ocultar el Navbar de escritorio en dispositivos móviles */
  }
}

/* Cambios para dispositivos con una anchura mínima de 769px (como dispositivos de escritorio) */
@media (min-width: 769px) {
  .navbar-fotos-mobile {
    display: none; /* Ocultar el Navbar móvil en dispositivos de escritorio */
  }
}

/* Estilos CSS */
.custom-button-label {
  font-family: 'Montserrat', sans-serif; /* Aplicar Montserrat Thin */
  font-weight: 100; /* Peso de la fuente */
}
