/* Aquí importa Bootstrap primero */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Luego, aplica tus estilos personalizados */
body {
  background-color: black;
  color: white;
}

.navbar {
  background-color: #333;
}

.navbar-nav .nav-link {
  color: white !important;
}

.section {
  color: white;
  background-color: black;
}

/* Estilo específico para el Header */
.App-header {
  background-color: transparent; /* Fondo transparente */
  color: white;
}

/* Estilo específico para el Carousel */
.carousel-item {
  color: white;
}

.custom-dark {
  background-color: #121212; /* Color personalizado */
}

@media (max-width: 991.98px) {
  #navbarNav {
    justify-content: flex-end;
  }
}

/* Estilos para las tarjetas horizontales */
.horizontal-card .video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* Proporción de aspecto 16:9 */
}

.horizontal-card .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Estilos para las tarjetas verticales */
/* Estilos para las tarjetas verticales */
.vertical-card .video-container {
  position: relative;
  width: 100%;
  padding-top: 177.77%; /* Proporción de aspecto 9:16 */
}

.vertical-card .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.brand-center {
  flex: 1;
  text-align: center;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  margin-right: auto; /* Alinea el Navbar Brand a la izquierda */
}
